<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Tajawal:400,500' rel='stylesheet' type='text/css'>
<link href='{{ "/assets/imports/normalize/css/normalize.css" | prepend: site.baseurl }}' rel='stylesheet' type='text/css'>
<link href='{{ "/assets/css/main.css" | prepend: site.baseurl }}' rel='stylesheet' type='text/css'>
<link href='{{ "/assets/imports/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}' rel='stylesheet' type='text/css'>
