.half {
  float: left;
  width: 96%;
  padding: 0 1em;
  font: $adhd-font-weight #{$adhd-font-size}/#{$adhd-line-height} $adhd-font-family;
  }

/* Acordeon FOR LINKS PANEL */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  background:lightgrey;
  color:$adhd-brand-color;
}
.link-panel {
  max-height: 0;
  overflow: hidden;
}
/* :checked */
input:checked ~ .link-panel {
  max-height: 50em;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
/* END Acordeon FOR LINKS PANEL */

/* Acordeon FOR ADHD PANEL */
.adhd-tabordion {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	background: $bg-color-light;
* {
	box-sizing: border-box;
}
.input {
	position: absolute;
	opacity: 0;
}
.label {
	width: 100%;
	padding: 0 10px;
	background: $bg-color-light;
	cursor: pointer;
	font-weight: bold;
	font-size: $base-font-size;
	color: $adhd-brand-color;
        border-right: 1px solid black;
        border-left: 1px solid black;
        margin-left: -1px;
}
.label:hover {
  color: $text-color;
  text-decoration: underline;
}
.label:active {
color: darken($adhd-brand-color, 15%);
}
.input:focus + .label {
	z-index: 1;
}
.input:checked + .label {
  background: $bkgrd-color-main;
  color: $text-color;
  text-decoration: underline;
}

@media (min-width: 600px) {
	.label {width: auto;}
}

.panel {
	display: none;
	padding: 20px 30px 30px;
	background: $bkgrd-color-main;
}

@media (min-width: 600px) {
	.panel {order: 99;}
}
.input:checked + .label + .panel {
	display: block;
}

}
.data-links {
  h1, h2, h3 {
  font-family:"Rock Salt", monospace;
  color: $adhd-text-color;
}
  h4 { font-family:$adhd-quote-font-family; }
    ul li {
      margin: 15px 10px 0px;
      color: $text-color;
      ul>li {
        font-size: $adhd-small-font-size;
        margin: 0px;
      }
  }
}
  /**
   * Blockquotes
   */
  blockquote {
    position: inherit;
    letter-spacing: .1875em;
    margin: 0px 10px;
    padding: 0px;
    text-align: left;
    p {
      text-indent: 0em;
      border-left: 0px;
      background-color: $bg-color-light;
      color: $adhd-text-color;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: $adhd-line-height *.8;
      padding: 5px;
      margin: 0px;
      font-family: $adhd-quote-font-family;
      font-size: $adhd-small-font-size;
    }
  }
  /**
   * Links
   */
  a {
    color: $adhd-brand-color;
    text-decoration: none;
    &:visited {
      color: darken($adhd-brand-color, 15%);
    }
    &:hover {
      cursor: pointer;
      color: $text-color;
      text-decoration: underline;
    }
  }
  /**
   * diff formatting
   */
 span.adhd {
    s, strike, del {
      background: peachpuff;
      color: darkgreen;
  }
    strong, ins {
      text-decoration: none;
      font-weight: bold;
      color: purple;
    }
  }

  hr {margin: $spacing-unit/3 0 $spacing-unit/3 0;}

.adhd {
  font-family: $adhd-font-family;
  line-height: $adhd-line-height;

  h1, h2, h3 {
    font-family:"Rock Salt", monospace;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  h4 {
    font-family:$adhd-quote-font-family;
    background:$bg-color-lighter;
    padding: 5px;
  }
  /**
   * Code formatting
   */
  pre.highlight {
    padding: 8px 12px;
    overflow-x: auto;
    line-height: $base-line-height / 1.063;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    code {
      font-family: $adhd-code-font-family;
      font-size: .875em;
    }
  }
}
.adhd-intro p {
  font: $adhd-font-weight #{($adhd-font-size*.9)}/#{($adhd-line-height)} $adhd-alt-font-family;
}
.adhd-intro h3 {
  margin-top:0;
}
