 /**
 * Site header
 */
.site-header {
    background: #fff;
    border-bottom: 1px solid $grey-color-darkest;
    min-height: 56px;
    text-align: center;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: -0.0384em;
    margin-bottom: 0;
    &,
    &:visited {
        color: $grey-color-darkest;
    }
}

.site-nav {
    float: center;
    line-height: 2em;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $bkgrd-color-main;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: center;

        .menu-icon {
            display: block;
            float: right;

            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 1.2em;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {

    font-size: 0.9375em;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Paging
 */
.paging .left, .paging .right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 5em;
  a {color: $bg-color-lighter;}
}

.paging .left {
  margin-left: -520px; }
.paging .right {
  margin-left: 470px; }

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 1.25em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        text-indent: 0;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */

.post {
      table {
            border: 1px solid gray;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: $spacing-unit/2;
        thead th {
            padding: 0 1em;
        }
        tbody {
            border: 1px solid gray;
            code { background: inherit; }
            tr:nth-of-type(odd) {
                background: $grey-color-light;
            }
            td {
                border: 1px solid gray;
                padding: 0 1em;
            }
        }
    }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 1.875em;
    letter-spacing: -0.0277em;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    p {text-indent: 1.5em;}

    li > p {text-indent: 0;}

    hr {margin: $spacing-unit/3 0 $spacing-unit/3 0;}

    h2 {font-size: 1.5em;}
    h3 {font-size: 1.375em;}
    h4 {
        font-size: 1.25em;
        @include media-query($on-laptop) {
          font-size: 1em;
        }
}

    .divider {
        font-size: 1.25em;
        text-align: center;
        letter-spacing: .5625em;
    }
}